html{
    box-sizing: border-box;
    font-size: 100%;
}
*,*::after,*::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Kumbh Sans",sans-serif;
    font-size: 1.125rem;
    background-color: $darkCyan;
}

.fw-400{
    font-weight: 400;
}
.fw-700{
    font-weight: 700;
}

.profile__wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .wrapper__image-top{
        position: absolute;
        background-image: url('../img/bg-pattern-top.svg');
        width:300px;
        height: 300px;
    
        transform: rotateX(180deg) rotate(90deg);
        z-index: -1;
        left:0;
        top:0;
        @media (min-width:48em){
            width:500px;
            height:500px;
        }
    }
    
    .wrapper__image-bottom{
        position: absolute;
        background-image: url('../img/bg-pattern-bottom.svg');
        width:300px;
        height: 300px;
        z-index: -1;
        bottom: 0;
        right: 0;
        @media (min-width:48em){
            width:500px;
            height:500px;
        }
    }
}

.profile__card{
    width:300px;
    border-radius:1rem;
    overflow:hidden;
    background-color: white;
}
.profile__header{
    height:110px;
    background-image: url('../img/bg-pattern-card.svg');
    position: relative;
}
.profile__picture{  
    position: absolute;
    width:90px;
    height:90px;
    background-image: url('../img/image-victor.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    border:3px solid white;
    
    top:0;right: 0; bottom: 0;left: 0;
    margin:60px auto;
}

.profile__info{
    h2{
        font-weight: 700;
        color:$vDarkDesaturatedBlue;
        font-size: 18px;
    }
    h3{
        font-weight: 400;
        color:$darkGrayishBlue;
        font-size: 14px;
    } 
}
.profile__description{
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile__personal{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    h2{
        margin-right: 0.625rem;
        
    }
       
}


.profile__stats{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding:30px;
    border-top: 1px solid rgb(218, 216, 216);
    h3{
        letter-spacing: 2px;
        margin-top: 4px;
    }
}
